@model UpdateUserViewModel


@{
    ViewData["Title"] = "Edit User";
}

<div class="text-center mb-5">
    <h3 class="display-4">@ViewData["Title"] <i class="fa-solid fa-pencil"></i></h3>
</div>

<br class="m-5" />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" method="post">
            <div class="row">
                <input asp-for="Id"type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger col-md-8"></div>
            </div>

            <div class="row">
                <div class="form-floating col-md-8">
                    <div class="row m-4">
                        <div class="form-floating col-md-6">
                            <input asp-for="FirstName" class="form-control" aria-required="true" />
                            <label asp-for="FirstName"></label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-floating col-md-6">
                            <input asp-for="LastName" class="form-control" aria-required="true" />
                            <label asp-for="LastName"></label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>                        
                    </div>

                    <div class="row m-4">
                        <div class="form-floating col-md-6">
                            <input asp-for="Email" class="form-control" aria-required="true" />
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-floating col-md-6">
                            <input asp-for="Username" class="form-control" aria-required="true" />
                            <label asp-for="Username"></label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row m-4">
                        

                        <div class="form-floating col-md-6">
                            <input asp-for="PhoneNumber" class="form-control" aria-required="true" />
                            <label asp-for="PhoneNumber"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-floating col-md-6">
                            <input asp-for="Age" class="form-control" aria-required="true" />
                            <label asp-for="Age"></label>
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-floating col-md-4">
                     <div class="row m-4">

                        <div class="form-floating col-md-12">
                            <div class="card border-primary" style="max-width: 18rem">
                                <div class="card-header text-center"> <label asp-for="Roles" class="form-label"></label> <i class="fa-solid fa-list-check"></i></div>

                                <div class="card-body">
                                    @for (int i = 0; i < Model.Roles.Count; i++)
                                    {
                                        <div class="form-check">

                                            <input type="hidden" asp-for="Roles[i].Value" />
                                            <input type="hidden" asp-for="Roles[i].DisplayName" />

                                            <input class="form-check-input" type="checkbox" asp-for="Roles[i].IsChecked">
                                            <label class="form-check-label">
                                                @(Model.Roles[i].DisplayName)
                                            </label>
                                        </div>
                                    }
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <span asp-validation-for="Roles" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>


            <br class="m-5" />
            <br class="m-5" />
            <br class="m-5" />
            <br class="m-5" />
            <br class="m-5" />
            <br class="m-5" />
             
            <div class="row m-4">
                <div class="form-floating col-md-4"></div>
                <div class="form-floating col-md-4">
                    <button class="btn btn-outline-danger" asp-action="Index">Cancel <i class="fa-solid fa-xmark"></i></button>
                    <button class="btn btn-outline-success" type="submit">Save <i class="fa-regular fa-floppy-disk"></i></button>
                </div>
                <div class="form-floating col-md-4"></div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
