html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.navbar-brand[b-qbpunzbd5i] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-qbpunzbd5i] {
    color: #0077cc;
}

.btn-primary[b-qbpunzbd5i] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qbpunzbd5i], .nav-pills .show > .nav-link[b-qbpunzbd5i] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-qbpunzbd5i] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-qbpunzbd5i] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qbpunzbd5i] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qbpunzbd5i] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-qbpunzbd5i] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.rolesLabel {
    font-size: xx-large;
    font-weight: 500
}


.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}